<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"
          th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <title>Students</title>

</head>
<body>
<main>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right">
                <li><a class="btn-floating red"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>

        <div class="fixed-action-btn hide-on-med-and-up">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">menu</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="variable-expression container">
        <h3>Variable expression</h3>
        <hr/>
        <p>Firstname: <strong th:text="${student.firstname}"></strong></p>
        <p>Lastname: <strong th:text="${student.lastname}"></strong></p>
        <p>Gender: <strong th:text="${student.gender}"></strong></p>
    </div>

    <div class="selection-expression container" th:object="${student}">
        <h3>Selection expression</h3>
        <hr/>
        <p>Firstname: <strong th:text="*{firstname}"></strong></p>
        <p>Lastname: <strong th:text="*{lastname}"></strong></p>
        <p>Gender: <strong th:text="*{gender}"></strong></p>
    </div>
</main>
</body>
</html>