<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}" media="screen,projection"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"
          th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet"
          th:href="@{/css/navbar/navbar.css}" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:href="@{/js/navbar/index.js}"></script>
</head>
<body>
<main>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/view/student/register}" class="btn-floating red"><i
                        class="material-icons">person_add</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="fixed-action-btn hide-on-med-and-up">
        <a class="btn-floating btn-medium red">
            <i class="medium material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
    </div>

    <div class="variable-expression container">
        <h3 class="red-text">Variable expression</h3>
        <hr/>
        <p>Firstname: <strong th:text="${student.firstname}"></strong></p>
        <p>Lastname: <strong th:text="${student.lastname}"></strong></p>
        <p>Gender: <strong th:text="${student.gender}"></strong></p>
    </div>

    <div class="selection-expression container" th:object="${student}">
        <h3 class="red-text">Selection expression</h3>
        <hr/>
        <p>Firstname: <strong th:text="*{firstname}"></strong></p>
        <p>Lastname: <strong th:text="*{lastname}"></strong></p>
        <p>Gender: <strong th:text="*{gender}"></strong></p>
    </div>

    <div class="each-expression container">
        <h3 class="red-text">Each expression & condition expression</h3>
        <hr/>

        <table class="table highlight responsive-table border-1">
            <thead>
            <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Gender</th>
                <th scope="col">LGBTQ</th>
            </tr>
            </thead>
            <tbody th:each="student : ${students}" th:remove="tag">
            <tr>
                <td th:text="${student.firstname}"></td>
                <td th:text="${student.lastname}"></td>
                <td th:text="${student.gender}"></td>
                <td th:switch="${student.gender}">
                    <span th:case="OTHER">Yes</span>
                    <span th:case="*">No</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/js/navbar/index.js}"></script>
</body>
</html>